.block
  .content
    %h2.title Ğ¡heck the similarity
    .inner
      = raw @document.content_after_check
      %h3.title= "Similarity #{@document.similarity} %"
      - content_for :sidebar, render(:partial => 'sidebar')