.block
  .content
    %h2.title Отчет
    .inner
      = raw @document.highlight_mathes
      %h3.title= "Схожесть #{@document.similarity} %"
      - content_for :sidebar do
        = raw @document.highlight_document_mathes